.bg {
    background-color: lightgoldenrodyellow;
}

.fnt-styl {
    font-family: 'Courier New', Courier, monospace;
}

.fnt-clr-orange {
    color: darkorange;
}

.fnt-clr-blue {
    color: darkblue;
}